<html>
<head>
<title> Pocket dig </title>

<style>

body {
background-color:#111112;
color:#eeeebb;
font-family:"Arial", Helvetica, sans-serif;
}

#info{
text-align:center;
margin:auto;
}

.buffer{
text-align:center;
color:#111112;
}

.grid {
margin: auto;
width: 800px;
}

.image {
float: left;
}

.button {
padding: 66px 0px 66px 0px;
width:200px;
background-color:#ff0099;
float:left;
text-align: center;
}

.button:hover {
background-color:#22aa22;
}

.button:active {
background-color:#004400;
}

h2, .subs {
text-align:center;
}

</style>

<script>

// preload assets
hogIm = new Image();
hogIm.src = "assets/hedgehog.jpg";

dullIm = new Image();
dullIm.src = "assets/dullhog.jpg";

emptyIm = new Image();
emptyIm.src = "assets/emptyplate.jpg";

</script>


</head>
<body>


<h2>Find the hedgehog</h2>
<p class="subs">Choose the correct plate to get a promocode<br/>
Get free delivery or discounts</p>

<div class="buffer">
Find the real hedgehog!
</div>


<div class="grid">

{% for b in buttons %}
<div class="image">
<img src="assets/dullhog.jpg" onclick="this.src={{ b.answer }}"/>
</div>
{% endfor %}


<div class="buffer">
Collect your promocodes here... <br>Find the real hedgehog!
</div>

<div id="info">
{{ promo }}
</div>




</body>




</html>
